<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    
    
    <filter>
        <filter-name>AutorizacaoFilter</filter-name>
        <filter-class>br.sp.senac.tads.filter.AutorizacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutorizacaoFilter</filter-name>
        <url-pattern>/protegido/*</url-pattern>
    </filter-mapping> 
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>br.sp.senac.servlet.ClienteCadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VeiculoServlet</servlet-name>
        <servlet-class>br.sp.senac.servlet.VeiculoCadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioCadastroServlet</servlet-name>
        <servlet-class>br.sp.senac.servlet.FuncionarioCadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteALterarServlet</servlet-name>
        <servlet-class>br.sp.senac.servlet.ClienteAlterarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarLocacaoServlet</servlet-name>
        <servlet-class>br.sp.senac.servlet.RealizarLocacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteRemoverServlet</servlet-name>
        <servlet-class>br.sp.senac.servlet.ClienteRemoverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioAlterarServlet</servlet-name>
        <servlet-class>br.sp.senac.servlet.FuncionarioAlterarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioRemoverServlet</servlet-name>
        <servlet-class>br.sp.senac.servlet.FuncionarioRemoverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>br.sp.senac.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VeiculoServlet</servlet-name>
        <url-pattern>/VeiculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioCadastroServlet</servlet-name>
        <url-pattern>/FuncionarioCadastroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteALterarServlet</servlet-name>
        <url-pattern>/ClienteALterarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarLocacaoServlet</servlet-name>
        <url-pattern>/RealizarLocacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteRemoverServlet</servlet-name>
        <url-pattern>/ClienteRemoverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioAlterarServlet</servlet-name>
        <url-pattern>/FuncionarioAlterarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioRemoverServlet</servlet-name>
        <url-pattern>/FuncionarioRemoverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>protegido/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
